<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
</head>
<script src="https://cdn.tailwindcss.com"></script>
<body><br/><br/><br/>
    <div class="w-full p-6 m-auto bg-purple-200 rounded-md shadow-md lg:max-w-xl">

<% pessoas.forEach((pessoa) => { %>
    
        <form >
    <p>
        <%= pessoa.id %> 
        <%= pessoa.nome %> 
        <%= pessoa.sobrenome %>
        <%= pessoa.idade %>   
        <%= pessoa.altura %>
        <div class="mt-2">
        <button  type="submit"   ><a class="w-full px-2 py-2 tracking-wide text-white transition-colors duration-200 transform bg-purple-700 rounded-md hover:bg-purple-600 focus:outline-none focus:bg-purple-600" href="/pessoas/delete?id=<%= pessoa.id %>">Deletar</a></button>
   </div>
    </p>
    </form>

    <br/>
<% }) %><br/>
</div>
</body>
</html>
